{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- content of store page -->

<div class="w-full px-32 ">
    <div class="p-3 shadow-md">
        <a href=" {% url 'store' %} ">
        <div class="bg-yellow-400 w-fit ">
            <div class="inline-block px-3 py-2 bg-yellow-500 "><</div>
            <div class="inline-block px-2 py-2 text-sm ">continue shopping</div>
        </div>
        </a>
        <hr class="my-2">
        <div>
            <p>Items: 3</p>
            <p>Total: $34</p>
            <p class="px-3 py-2 bg-green-300 inline-block mt-2">Checkout</p>
        </div>
    </div>
    <div class="my-2 shadow-md">
        <div class="p-4">Your Orders</div>
        <hr class="mb-4">
        <!-- for a single container of product -->
        <div class=" flex p-3 justify-start items-start m-3 border border-gray-100 rounded ">
            
            <div class="shadow">
                <img src=" {% static 'images/Smartwatch1.jpg' %} " alt="" class=" w-64 ">
            </div>
            <div class=" p-4 ">
                <p class=" font-bold text-3xl ">Product 1</p>
                <p class=" font-bold ">$20</p>
                <p class="flex justify-start items-center">
                    <span class="inline-block">Quantity: 1</span>
                    <span class='inline-flex flex-col px-4'>
                        <a href=""><img src=" {% static 'images/up_arrow.png' %} " alt=""   class="hover:bg-gray-200  w-4 "></a>
                        <a href=""><img src=" {% static 'images/down_arrow.png' %} " alt="" class="hover:bg-gray-200  w-4 "></a>
                    </span>
                </p>
                <span class="inline-block">Total: <span class = " font-bold ">$27</span> </span>

            </div>
        </div>
        <!-- end of single container of product -->
    </div>
</div>

{% endblock content %}