{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- content of Checkout page -->
<div class="w-screen px-64 grid grid-cols-2 gap-4 p-2">
    <div class="w-full bg-blue-50 shadow-lg">
        <form action="" class="w-full p-4 grid grid-cols-2 gap-2">
            <input type="text" placeholder="name" class=" w-full  h-10 p-2 border-2 border-gray-200 outline-none  rounded">
            <input type="name" placeholder="email" class=" w-full  h-10 p-2 border-2 border-gray-200 outline-none rounded">
            <p class="py-4 col-span-2">Shipping Information:</p>
            <input type="text" class="h-10 p-2 border-2 border-gray-200 outline-none rounded" placeholder="Address">
            <input type="text" class="h-10 p-2 border-2 border-gray-200 outline-none rounded" placeholder="City">
            <input type="text" class="h-10 p-2 border-2 border-gray-200 outline-none rounded" placeholder="State">
            <input type="text" class="h-10 p-2 border-2 border-gray-200 outline-none rounded" placeholder="Pincode">
            <input type="submit" class="px-3 py-2 bg-blue-400 cursor-pointer w-2/4 text-white mt-4 rounded ">
        </form>
    </div>
    <div class="w-full p-4 bg-blue-50 shadow-lg row-span-2">
        <a href=" {% url 'cart' %} ">
            <div class="bg-blue-400 w-fit ">
                <span class="inline-block px-3 py-2 bg-blue-500 m-0 "><</span>
                <span class="inline-block px-2 py-2 text-sm ">Go to cart</span>
            </div>
        </a>
        <hr class="my-3">
        <div class="py-3 text-3xl font-bold">
            Product summary
        </div>
        {% for item in items %}
        <div class="flex justify-between items-center py-2 border p-3 bg-blue-100">
            <img src="{{ item.product.imageURL }}" alt="watch" class="w-32 shadow-md p-3 bg-white">
            <p class="px-12">{{ item.product.name }}</p>
            <p class="px-12 font-bold">${{ item.product.price }}</p>
            <p class="px-12">x{{item.quantity}}</p>
        </div>
        {% endfor %}
        <div class="w-full flex justify-between items-center mt-4">
            <p>Items:{{order.get_cart_items}}</p>
            <p>Total: <span class="font-bold">${{ order.get_cart_total }}</span></p>
        </div>
    </div>
</div>

{% endblock content %}